@model AdminIndexModel
@{
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
    ViewData["Title"] = "Admin";
}
<div class="row">
    <div class="col-12 col-md-4">
        <div class="card text-dark bg-info mb-3">
            <div class="card-header h4 text-white text-center">Films</div>
            <div class="card-body text-white">
                <div class="row">
                    <div class="col-4  text-center align-content-center">
                        <i class="fas fa-film fa-3x "></i>
                    </div>
                    <div class="col-8  text-justify px-4 px-md-5">
                        <h5 class="card-title h2 ">@Model.Films.Count()</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card text-dark bg-success mb-3">
            <div class="card-header h4 text-white text-center">Genres</div>
            <div class="card-body text-white">
                <div class="row">
                    <div class="col-4 text-center align-content-center">
                        <i class="fas fa-ticket-alt fa-3x"></i>
                    </div>
                    <div class="col-8 text-justify px-4 px-md-5">
                        <h5 class="card-title h2 "> @Model.GenresCount</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card text-dark bg-info mb-3">
            <div class="card-header h4 text-white text-center">Users</div>
            <div class="card-body text-white">
                <div class="row">
                    <div class="col-4 text-center align-content-center">
                        <i class="fas fa-user fa-3x"></i>
                    </div>
                    <div class="col-8 text-justify px-4 px-md-5">
                        <h5 class="card-title h2 "> 512</h5>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table id="example" class="table  table-borderless">
        <thead>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Date</th>
                <th>Age</th>
                <th>Time</th>
                <th>IMDB</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Films)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@string.Join(", ", item.Countries.Select(o=>o.Country)) </td>
                    <td>@item.ReleaseDate</td>
                    <td>@item.Age</td>
                    <td>@item.Time</td>
                    <td>@item.IMDB</td>
                </tr>
            }


        </tbody>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Country</th>
                <th>Date</th>
                <th>Age</th>
                <th>Time</th>
                <th>IMDB</th>
            </tr>
        </tfoot>
    </table>
</div>